/*****BASE STYLES*****/
body {
  /* width: 1200px; */
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
}

/*** HEADER ***/
header {
  text-transform: uppercase;
  margin: 23px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  text-align: center;
}

header h1 {
  margin-bottom: 15px;
  display: inline;
  padding: 30px 0px;
  font-weight: 700;
  width: 90%;
}

.header-title {
  border-bottom: solid 2px #77a466;
  padding-bottom: 25px;
  width: 90%;
}

header h1 span {
  color: #77a466;
}

header nav {
  float: right;
  display: inline;
  width: 100%;
  margin: 0 auto;
}

nav ul {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
}

nav ul li {
  list-style: none;
  float: right;
  margin-bottom: 15px;
  margin-left: 0;
}

li a {
  text-decoration: none;
  color: #77a466;
  padding: 15px;
  font-weight: bold;
}

/***HERO***/
img {
  width: 100%;
  margin: 0 auto;
  display: block;
  /* margin: 0px;
  display: flex; */
  /* flex: 1 auto; */
}

.beans {
  /* display: flex;*/
  width: 90%;
  margin: 0 auto;
  /* flex-shrink: 1; */
  /* display: block; */
  border-top: 2px solid #77a466;
  border-bottom: 2px solid #77a466;
}

/***Main***/
main {
  display: flex;
  flex-flow: column wrap;
}
h2 {
  color: #77a466;
  text-transform: uppercase;
}

/***content***/

.intro-section {
  width: 90%;
  padding-bottom: 2%;
  margin: 0 auto;
}

.intro-section p {
  width: 100%;
  font-size: 1rem;
  margin: 0 auto;
  line-height: 25px;
}

.intro-section h2 {
  width: 100%;
  margin: 0 auto;
  font-size: 20px;
  padding-top: 2%;
  padding-bottom: 2%;
}
.content {
  font-size: 16px;
  /* height: 200px; */
  /* border-top: 1px #d9d9d9 solid;
  border-bottom: 1px #d9d9d9 solid; */
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}
.reviews,
.contact,
.specials {
  /* margin: 0 auto; */
  /* display: inline; */
  /* padding: 7px; */
  /* width: 399px; */
  justify-content: center;
  width: 100%;
}

.greencolor {
  color: #77a466;
}

.reviews p {
  line-height: 18px;
  width: 100%;
}

.specials ul {
  list-style: none;
  padding: 0px;
  line-height: 30px;
  width: 100%;
}

h3 {
  text-transform: uppercase;
}

.contact p {
  /* width: 350px; */
  text-align: left;
  line-height: 15px;
}
/***Footer***/
footer {
  text-align: center;
  width: 80%;
  margin: 20px auto;
}
footer h3 {
  font-size: 14px;
  text-align: center;
}

footer .green {
  color: #77a466;
  font-family: "Galada", "cursive";
}

@media (min-width: 768px) {
  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 0.5px solid rgb(221, 221, 221);
    border-bottom: 0.5px solid rgb(221, 221, 221);
    width: 90%;
  }

  .reviews,
  .contact,
  .specials {
    width: 30%;
  }

  .reviews {
    padding-left: 3%;
    padding-right: 3%;
    border-left: 1px #d9d9d9 solid;
    border-right: 1px #d9d9d9 solid;
  }

  .intro-section {
    width: 90%;
    margin: 0 auto;
  }

  .intro-section p {
    width: 100%;
  }

  .intro-section h2 {
    text-align: left;
    margin-left: 0;
  }
}

@media (min-width: 1200px) {
  header {
    padding-top: 2%;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    justify-content: space-between;
    margin: 0 auto;
  }
  nav ul {
    display: flex;
    flex-direction: row;
  }

  .header-title {
    text-align: left;
    border-bottom: none;
  }
}
